html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body {
    font-family: 'Roboto Flex', sans-serif;
}

/*zacatek sablony hlavicky, paticky, menu*/

.header__logo {
    width: 200px;
}

.footer__small {
    width: 50px;
}

.hr__up {
    height: 5px;
    background-color:#000000;
    margin: 0;
}

.hr__down {
    height: 3px;
    max-width: 500px;
    background-color:black;
    margin: auto;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-around;
}

.header__item {
    list-style: none;
}

.menu__list {
	list-style: none;
    margin-top: 100px;
    margin-bottom: 0;
	padding: 0;
	display: flex;
}

.menu__item {
	margin: 30px 30px;
	padding: 0;
}

.menu__link {
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 540px) {

    .menu__list {
        margin-top: 10px;
        flex-direction: column;
    } 

    .menu__item {
        margin: 5px 5px;
        padding: 0;
    }    
}

/*konec sablony hlavicky, paticky, menu*/

/*obsah hlavni stranky - zacatek*/

.introduction__content {
    margin: auto;
    margin-top: 150px;
    max-width: 800px;
    max-height: 400px;
}

.introduction__content h1, .introduction__content p {
    text-align: center;
}

.introduction__content h1 {
    font-size: 50px;
}

@media screen and (max-width: 540px) {
    .introduction__content {
        margin: 60px;
    }

.hr__up {
    margin-top: 30px;
    }
}

/*obsah hlavni stranky - konec*/

/*začátek sekce O nás */

.about {
    display: grid;
    grid-template-columns: 1.5fr 0.2fr 1fr;
    margin: 50px 200px;
}

.about__who {
    display: grid; 
    grid-template-rows: 1fr 1fr;
}

.about__article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.about__who img {
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
}

.about__line {
    width: 3px;
    background-color: black;
}

.about__article--left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

@media screen and (max-width: 540px) {

    .about {
        display: grid;
        grid-template-columns: none;
        margin: 60px;
    }

    .about__line {
        height: 0;
        width: 0;
    }

    .about__article, .about__article--left {
        grid-template-columns: none;
    }

}


/*konec sekce O nás */

/*začátek sekce vyber */

.postcart-chalenge {
  display: grid;
  margin: 50px 200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 10px;
  align-items: center;
}

.postcart-chalenge__name {
    font-size: 30px;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 50%;
    background-image: url(/images/smallpaperplane.svg);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.postcart-chalenge__item {
    max-width: 500px;
    border: 1px solid black;
  }
  
.postcart-chalenge__item-pic {
    width: 100%;
  }
  
.postcart-chalenge__item-desc {
    padding: 20px;
    text-align: center;
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
  }
  
.button:hover,
.button:focus {
    background-color: gray;
  }

@media screen and (max-width: 540px) {

    .postcart-chalenge {
        grid-template-columns: none;
        margin: 30px 30px 0 30px;
    }

    .postcart-chalenge__item {
        min-width: 300px;
    }

}

/*konec sekce vyber */

/*začátek sekce Detail - pohlednice */

.detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 50px 200px;
  }

  .detail h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .detail__img {
    display: block;
    width: 100%;
  }

  .detail__price {
    margin-top: 0;
    font-weight: bold;
    font-size: 30px;
  }

  @media screen and (max-width: 540px) {
    .detail {
        grid-template-columns: none;
        margin: 60px;
      }
}

  /*konec sekce Detail - pohlednice */

  /*začátek sekce - pohlednice */

  .cathegory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .cathegory__item {
      width: 300px;
      height: 300px;
      border: 3px solid black;
      border-radius: 50%;
      background-image: url(/images/smallpaperplane.svg);
      background-repeat: no-repeat;
      background-size: 300px;
      background-position: center;
  }

  .cathegory__name {
      font-size: 50px;
      text-align: center;
      margin-top: 220px;
     
  }

  .cathegory__link {
      color: #000000;
      text-decoration: none;
  }

  @media screen and (max-width: 540px) {
    .cathegory {
        grid-template-columns: none;
        margin: 60px;
      }
}

   /*konec sekce - pohlednice */

   /*zacatek sekce - koupit */
.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 200px;
}

.form__last {
    display: grid;
    grid-template-rows: 30% 20% 50%;
}

.form__last-send {
    justify-self: flex-end;
    align-self: flex-end;
}

.form input[type="number"] {
    width: 40px;
}

.form__goods .form__field-horizontal {
    width: 200px;
    margin-bottom: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__contact label {
    display: block;
    margin-top: 20px;
    font-weight: 600;
}

.form__contact {
    width: 100%;
}

.form__contact textarea {
    width: 100%;
    height: 100px;
}

.form__field-horizontal input {
    width: 20px;
}

.form__last-payment {
    margin-bottom: 30px;
}

.form__last-payment .form__field-horizontal {
    padding: 15px;
}

.form__last-rules .form__field-horizontal {
    padding: 15px;
}

.form input[type="submit"] {
    margin-top: 30px;
    padding: 10px 20px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
}

@media screen and (max-width: 540px) {
    .form {
        grid-template-columns: none;
        margin: 60px;
      }

      .form__last-rules {
        margin-top: 40px;
      }
    }
   /*zacatek sekce - koupit */

/*zacatek sekce - odeslano */

/* .form .pop-up {
    position: relative;
}

.pop-up__window {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    background-color: white;
}

.pop-up img {
    width: 100px;
} */

/*konec sekce - odeslano */

/*zacatek sekce - clanek */

.article {
    margin: 50px 200px;
}

.article__title  {
    font-size: 48px;
    margin: 0;
  }
  
  .article__meta {
    color: silver;
  }
  
  .article__content {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 50px;
  }
  
  .article__perex {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .article__image {
    display: block;
    width: 80%;
  }

  .blog {
    display: grid;
    margin: 50px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 20px;
    align-items: center;
  }

  /* .blog {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  } */

  .blog__clanek {
      display: grid;
      max-width: 500px;
      grid-template-rows: 1fr 1fr;
      row-gap: 50px;
      justify-items: center;
      border: 2px solid black;
  }

  .blog__clanek img {
      width: 100%;
      align-self: center;
  }

  .blog__clanek-popis h2 {
    text-align: center;
  }

  .blog__clanek-popis a {
   
  }

  .blog__clanek-popis {
      margin: 20px;
  }

  @media screen and (max-width: 540px) {
        .blog {
            grid-template-columns: none;
            margin: 30px 30px 0 30px;
        }

        .blog__clanek {
            min-width: 300px;
        }

        .blog__clanek img {
            width: 100%;
            align-self: center;
        }

        .article__content {
            grid-template-columns: none;
        }

        .article {
            margin: 60px;
        }
}

/*konec sekce - clanek */

/*zacatek sekce - ptodeti / pripravujeme */

.inprogress {
    margin: 50px 200px;
    text-align: center;
    height: 400px;
}

.inprogress img {
    width: 150px;
}

/*konec sekce - ptodeti / pripravujeme */

/*zacatek sekce - kontakt */

.contact {
    margin: 50px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
}

.contact__line {
    width: 3px;
    background-color: black;
}

.contact__info {
    padding: 0 0 50px 50px;
}

/*konec sekce - kontakt*/