html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body {
    font-family: 'Roboto Flex', sans-serif;
}

/*zacatek sablony hlavicky, paticky, menu*/

.header__logo {
    width: 200px;
}

.footer__small {
    width: 50px;
}

.hr__up {
    height: 5px;
    background-color:#000000;
    margin: 0;
}

.hr__down {
    height: 3px;
    width: 500px;
    background-color:black;
    margin: auto;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-around;
}

.header__item {
    list-style: none;
}

.menu__list {
	list-style: none;
    margin-top: 100px;
    margin-bottom: 0;
	padding: 0;
	display: flex;
}

.menu__item {
	margin: 30px 30px;
	padding: 0;
}

.menu__link {
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

/*konec sablony hlavicky, paticky, menu*/

/*obsah hlavni stranky - zacatek*/

.introduction {
    margin: 50px 100px;
}

.introduction__content h1, .introduction__content p {
    text-align: center;
}

.introduction__content h1 {
    font-size: 50px;
}

/*obsah hlavni stranky - konec*/

/*začátek sekce O nás */

.about {
    display: grid;
    grid-template-columns: 700px 30px 1fr;
    margin: 50px 100px;
}

.about__who {
    display: grid; 
    grid-template-rows: 1fr 1fr;
}

.about__article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.about__who img {
    width: 200px;
    border: 1px solid grey;
    border-radius: 50%;
}

.about__line {
    width: 3px;
    background-color:#000000;
}

.about__article--left .about__image {
    order: 1;
}


/*konec sekce O nás */

/*začátek sekce Pohlednice */

.postcart {
  display: grid;
  margin: 50px 50px 50px 50px;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-flow: column;
  gap: 30px;
  align-items: center;
}

.postcart__name {
    font-size: 40px;
}

.postcart__item {
    width: 500px;
    border: 1px solid black;
  }
  
.postcart__item-pic {
    width: 100%;
  }
  
.postcart__item-desc {
    padding: 20px;
    text-align: center;
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
  }
  
.button:hover,
.button:focus {
    background-color: gray;
  }

/*konec sekce Pohlednice */

/*začátek sekce Detail - pohlednice */

.detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .detail h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .detail__img {
    display: block;
    width: 100%;
  }

  .detail__price {
    margin-top: 0;
    font-weight: bold;
    font-size: 30px;
  }

  /*konec sekce Detail - pohlednice */